<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- https://launchd.info was very helpful here -->
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>website-notifier</string>
        <key>Program</key>
        <string>/Users/username/Documents/website-notifier</string>
	<key>ProgramArguments</key>
	<array>
    		<string>/Users/username/Documents/website-notifier</string>
		<string>http://ntfy.sh/personal-url-website-notifier</string>
		<string>https://hackaday.com</string>
		<string>https://slashdot.org</string>
	</array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
